services:
  postgres:
    image: postgres:18.1
    restart: unless-stopped
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_PASSWORD: development
  service:
    build:
      context: .
      dockerfile: ./deployments/service.Dockerfile
    restart: unless-stopped
    depends_on:
      migrator:
        condition: service_completed_successfully
    volumes: 
      - ./config.yaml:/app/config.yaml:ro
    ports:
      - "8080:8080"
  migrator:
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: postgres://postgres:development@postgres:5432/postgres
    depends_on:
      postgres:
        condition: service_healthy
    build:
      context: .
      dockerfile: ./deployments/migrator.Dockerfile
